.list{
    list-style-type: none;
}

.homestyle{
    padding:20px;
}

.list{
    margin-top: 15px;
    font-size: 20px;
    
}

.container{
    max-width: 300px;
    background-color: rgba(215, 118, 118, 0.1) !important;
    border-radius: 10px;    
    justify-content: space-evenly;

}

